/***********************
 * 日期：2018/04/19
 * 作者：曲子扬
 * 用途：全站-大的结构
 * other: null
 */

/* 网页头 */
 .header{
	width:1192px;height: 170px;background: #F6F6F6;margin: 0 auto;
	position: relative;
}

/* 首页轮播图 */
.menuWrap{
	width:1192px;height: 480px;margin:0 auto;background: #ddd;
}

/* goodsListWrap */
.goodsListWrap{
	width: 1192px;margin: 0 auto;
}
.goodsListWrap:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
