/***********************
 * 日期：2018/04/19
 * 作者：老尚
 * 用途：css的公共部分，一些小零件之类的
 * other: null
 */

 .icon_1{
	width:1px; height: 10px;background: #666;float: left;
}
i.iconHot{
	width:30px;height: 19px;background: url('../image/icons.png') no-repeat 0 -155px;
	position: absolute;
}
